<div #Search class="input-group" ngForm="Search">
  <input type="search" id="searchInput"  class="form-control rounded" placeholder="Search" aria-label="Search"
         aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">search</button>

</div>
