<!--Choose to edit users or products-->
<ul class="nav nav-pills mb-3"  id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Get members</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Get products</a>
  </li>

  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-user-add" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Add new user</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-user-statistics" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">statistics</a>
  </li>
</ul>


<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

<div class="container">
<!--  <li *ngIf="checkRole('ADMIN')" class="nav-item">-->
<!--    <a class="nav-link" [routerLink]= "['GetAllMembers']" routerLinkActive="active"> Get all members-->
<!--      <span class="sr-only">(current)</span>-->
<!--    </a>-->
<!--  </li>-->
  <app-search-box> </app-search-box>
  <app-component-member-cards></app-component-member-cards>
  </div>
    </div>

<!--  end of pills -->

  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

  <app-product-cards></app-product-cards>

  </div>


</div>
