.product-info-section{
  padding: 5%;

}
.product-container{
  border: 2px solid black;
}
.product-stucture{
  margin: auto;
  width: 50%;
  border: 2px solid black;
}

.product-wrapper{
  text-align: center;
}
