<div class = 'product-container'>
<div class = 'product-wrapper'>
<!--  <div *ngFor="let product of products">-->
  <div *ngIf="product">

  <div class="card mt-2" style="margin: 10px">
    <div class="product-info-section">
      <h2>{{product.name}}</h2>
      <p>{{product.city}}</p>
      <h4> Price {{product.price | currency }}</h4>

    </div>

    <div class="image-section">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="http://placehold.it/1000x325" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="http://placehold.it/1000x325" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="http://placehold.it/1000x325" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>


    <p>{{product.description}}</p>


    <h2> Additional info </h2>
    <div>
      <p>Category: {{product.category}}</p>
    </div>
  <div>
<!--    <a class="btn btn-primary" role="button" (click)="onUpdateClick(product.id)"> edit</a>-->
    <a *ngIf="product.seller == member.username || member.role.toString() === 'ADMIN'" class="btn btn-primary" role="button"  routerLink= "/updateProduct/{{product.id}}" routerLinkActive="active">Edit item </a>
<!--    <a  class="btn btn-primary" role="button" style="color: yellow" routerLink= "/updateProduct/{{product.id}}">Edit </a>-->
    <a *ngIf="product.seller == member.username || member.role.toString() === 'ADMIN'" class="btn btn-primary" role="button" (click)="deleteProductById(product.id)"> Delete item</a>
  </div>
    <div class="product-comment" style="width: 120px; height: 200px">
      Comment section for the product
      <div class="product-comment-box">

      </div>
    </div>

  </div>
  </div>
<!--  </div>-->
<!--  Member profile view -->
  <div class="user-card">
    <a ></a>
    <div class="card">
      <div class="profile-card-body card-body">
        <img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-512.png" alt="Admin" class="rounded-circle" width="150">
        <div class="mt-3" style="align-content: start">
        <a [routerLink]= "['//GetUserProfile/', product?.seller]">
          <h4>{{product.seller}}</h4>
          <p class="text-secondary mb-1">Seller rating</p>
          <p class="text-muted font-size-sm">{{member.city}}, {{member.country}}</p>
          <p class="text-muted font-size-sm">Last login : {{member.lastLoginDateDisplay}}</p>


        </a>
          <button class="btn btn-outline-primary"
                  *ngIf="checkIfMemberCanChat(product)"
                  (click)="chatWithSeller(member.id)">
            Message
          </button>
        </div>
      </div>
    </div>
  </div>



</div>
</div>
