<!-- Contact Section-->
<section class="page-section" id="contact">
  <div class="container">
    <!-- Contact Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Contact Section Form-->
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
        <form id="contactForm" name="sentMessage" novalidate="novalidate">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label>Name</label>
              <input class="form-control" id="name" type="text" placeholder="Name" required="required" data-validation-required-message="Please enter your name." />
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label>Email Address</label>
              <input class="form-control" id="email" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your email address." />
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label>Phone Number</label>
              <input class="form-control" id="phone" type="tel" placeholder="Phone Number" required="required" data-validation-required-message="Please enter your phone number." />
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label>Message</label>
              <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Please enter a message."></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br />
          <div id="success"></div>
          <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Send</button></div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- <form #frm ="ngForm"(ngSubmit)="updateInfo(frm)">
    <div>
        <input type="text" name="location" value="" ngModel>
        <button type="submit"name="button">Add Info</button>
    </div>
</form>
<button type="button" name="button" (click)='getInfoFromService1()'>Employee1</button>
<ul class ="list-group">
    <li *ngFor = "let info of InfoReceived1" class= "list-group-info">{{info}}</li>
</ul>

<button type="button" name="button" (click)='getInfoFromService2()'>Employee2</button>
<ul class ="list-group">
    <li *ngFor = "let info of InfoReceived2" class= "list-group-info">{{info}}</li>
</ul>

<button type="button" name="button" (click)='getInfoFromService3()'>Employee3</button>
<ul class ="list-group">
    <li *ngFor = "let info of InfoReceived3" class= "list-group-info">{{info}}</li>
</ul> -->
