
<ul class="nav nav-pills mb-3"  id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">LogIn</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Register</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

    <div class= "container">
<!--Log in-->
      <div class= "enclose">
        <h1>Log in</h1><br>
        <form #login ="ngForm" (ngSubmit)="logingUser(login)">
          <div class="form-group">
            <label class="card-title" for="username" >Username</label> <br>
            <!-- Would be better to use this for registration validation -->
            <input #name = "ngModel" id="username" type="text" name = "username" class="form-control" ngModel>
            <div *ngIf = "name.touched && name.invalid" class="alert alert-danger">
              <p *ngIf = "name.errors.required"> Username Required</p>
              <p *ngIf = "name.errors.minLength">That's a long username</p>
            </div>
          </div>
          <pre></pre>
          <div class="form-group">
            <label class="card-title" for="password" >Password</label> <br>
            <input #password = "ngModel" id = "password" type="text" name = "password" class="form-control" ngModel>
            <div *ngIf = "password.touched && password.invalid" class="alert alert-danger">
              <p *ngIf = "password.errors.required"> Username Required</p>
              <p *ngIf = "password.errors.minLength">That's a long username</p>
            </div>
          </div>
          <pre></pre>
          <button class="btn btn-primary" id="logInSubmit" type="submit">LogIn</button>
        </form>
      </div>
    </div>
  </div>
    <!--Log in  END-->


  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="container">
      <h1>Would you like to register?</h1> <br>

      <div class = "registration">
        <form [formGroup]="registerForm"  (ngSubmit)="RegisteringUser()">

          <div class="form-group">
            <label class="card-title" for="firstName" >First name</label> <br>
            <!-- Would be better to use this for registration validation -->
            <input formControlName="firstName" id="firstName"  type="text" name = "username" class="form-control" >
            <div *ngIf = "registerControls.firstName.touched && registerControls.firstName.invalid" class="alert alert-danger">
              <p *ngIf = "registerControls.firstName.errors.required"> Username Required</p>
              <p *ngIf = "registerControls.firstName.errors.minLength">That's a long username</p>
            </div>
          </div>

            <div class="form-group">
              <label class="card-title" for="lastName" >Last name</label> <br>
              <!-- Would be better to use this for registration validation -->
              <input formControlName="lastName" id="lastName" type="text" name = "username" class="form-control" >
              <div *ngIf = "registerControls.lastName.touched && registerControls.lastName.invalid" class="alert alert-danger">
                <p *ngIf = "registerControls.lastName.errors.required"> Username Required</p>
                <p *ngIf = "registerControls.lastName.errors.minLength">That's a long username</p>
              </div>
            </div>

          <div class="form-group">
            <label class="card-title" for="registrationUsername" >Username</label> <br>
            <input formControlName="registrationUsername" id="registrationUsername" type="text" name = "username" class="form-control" >
            <div *ngIf = "registerControls.registrationUsername.touched && registerControls.registrationUsername.invalid" class="alert alert-danger">
              <p *ngIf = "registerControls.registrationUsername.errors.required"> Username Required</p>
              <p *ngIf = "registerControls.registrationUsername.errors.minLength">That's a long username</p>
            </div>
          </div>
          <pre></pre>

          <div class="form-group">
            <label class="card-title" for="registrationPassword" >Password</label> <br>
            <!-- Would be better to use this for registration validation -->
            <input formControlName="registrationPassword" id="registrationPassword" type="text" name = "username" class="form-control" >
            <div *ngIf = "registerControls.registrationPassword.touched && registerControls.registrationPassword.invalid" class="alert alert-danger">
              <p *ngIf = "registerControls.registrationPassword.errors.required"> Username Required</p>
              <p *ngIf = "registerControls.registrationPassword.errors.minLength">That's a long username</p>
            </div>

          </div>
          <pre></pre>

          <div class="form-group">
            <label class="card-title" for="passwordMatch" >Password match</label> <br>
            <!-- Would be better to use this for registration validation -->
            <input formControlName="passwordMatch" id="passwordMatch" type="text" name = "username" class="form-control" >
            <div *ngIf = "registerControls.passwordMatch.touched && registerControls.passwordMatch.invalid" class="alert alert-danger">
              <p *ngIf = "registerControls.passwordMatch.errors.required"> Username Required</p>
              <p *ngIf = "registerControls.passwordMatch.errors.minLength">That's a long username</p>
              <p *ngIf = "registerControls.passwordMatch.errors.cannotContainSpace">Password cannot contain spaces</p>
            </div>
            <div class="alert alert-danger" *ngIf="registerControls.registrationPassword.touched && this.registerControls.passwordMatch.touched
&& (registerForm.errors != null && registerForm.errors.passwordNotMatching != null) ">
              <p *ngIf="registerForm.errors.passwordNotMatching" > Password does not match</p>
            </div>
          </div>
          <pre></pre>

          <div class="form-group">
            <label class="card-title" for="email" >Email</label> <br>
            <!-- Would be better to use this for registration validation -->
            <input formControlName="email" id = "email" type="text" name = "username" class="form-control" >
            <div *ngIf = "registerControls.email.touched && registerControls.email.invalid" class="alert alert-danger">
              <p *ngIf = "registerControls.email.errors.required"> Username Required</p>
              <p *ngIf = "registerControls.email.errors.minLength">That's a long username</p>
            </div>

          </div>
          <pre></pre>
          <button [disabled]="registerForm.invalid" id="registrationSubmit" class="btn btn-primary" type="submit">Register</button>

          <pre></pre>
      </form>
      </div>

    </div>
  </div>

  //end of pills


</div>

