
div{
    text-align: center;
}
label{
    text-align: left;
}
.alert-danger{
    background-color: red;
}

.alert{
    color: white;
    margin-bottom: 15px;
    text-align: left;
}
a{
  text-decoration: none;
  color: #6F9B7A;
}
.nav{
 display: block;

  padding: 30px;
  align-content: center;
  text-align: center;
}
.nav-pills{
  align-content: center;
}
/*.container{
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5%;
    height: auto;
    width: 900px;
    !* border-radius: 10px;
    border-color: black; *!
    flex-direction: row;
    border: 3px  solid  whitesmoke;

}*/

.card-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: large;
}
