.floatingCard{
  width: 40% ;
  height: 50%;
  margin: 5px  ;
}
.card-deck {
  width: 500px;

}
.profile-card-body{
  display: inline-flex;
}

.input-group{
  margin-left: 30% !important;
}


@media (min-width: 576px) {

  .input-group{
    margin-left: 50% !important;
  }
}
/*@media only screen and (max-width: 700px) {*/

/*  .profile-card-body{*/
/*    display: table-column;*/
/*  }*/
/*  .card-body {*/

/*  }*/

/*}*/
