<!--Edit users profile -->
<div class="User-container" *ngIf="userRole.toString() === 'ADMIN'">

  <div class="user-card">
    <div class="card">
      <div class="profile-card-body">
        <div class="floatingCard">
        <img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-512.png" alt="Admin" class="rounded-circle" width="150">
          <h2>{{member.roles.toString()}}</h2>
          <h4>{{member.firstName}}  {{member.lastName}}</h4>
          <p class="text-secondary mb-1">Seller rating</p>
          <p class="text-muted font-size-sm">{{member.city}}, {{member.country}}</p>
          <p class="text-muted font-size-sm">Last login : {{member.lastLoginDateDisplay}}</p>

<!--          <button class="btn btn-primary">Edit info</button>-->
          <button class="btn btn-outline-primary">Message</button>
        </div>
          <div class="card-deck">
<!--            <form #updateForm ="ngForm" (ngSubmit)="onSubmit(updateForm)">-->
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Member role</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{member.roles}}
                    <label for="role"> Admins</label>
                    <input id="role" name="roles" type="text" class="input-group" >
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-6">
                    <h6 class="mb-0">First name  </h6>
                  </div>
                  {{member.firstName}}
                  <div class=" text-secondary">
                    <input type="text" class="input-group">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Last Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">

                    {{member.lastName}}
                    <input id="lastNameInput" class="input-group" type="text" >

                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Username</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">

                    {{member.username}}
                    <input id="usernameInput" class="input-group" type="text" >

                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Password</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">

                    {{member.password}}
                    <input id="passwordInput" class="input-group" type="text" >

                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{member.email}}
                    <input type="text" class="input-group" >
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Country</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{member.country}}
                    <input type="text" class="input-group" >
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">City</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{member.city}}
                    <input type="text" class="input-group">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Date of birth</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{member.DOB}}
                    <input type="text" class="input-group" >
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                    <a class="btn btn-info" style="" routerLink="">Edit</a>
                  </div>
                </div>
              </div>
            </div>
<!--            </form>-->
          </div>
          </div>
        </div>
      </div>
    </div>



  <div class="user-content-container-top">
    <h1>Listed products</h1>
    <app-user-profile-listings></app-user-profile-listings>


  </div>


