.footer{

    bottom: 0;
  padding-bottom: 30%;
    width: 100%;
  margin-top: 30px;
  position: fixed;

}
/*.fixed-bottom{*/
/*  position: static;*/
/*  bottom: 0;*/
/*}*/
.bg-dark{
  background-color: #1D1D35 !important;
}
.navbar{
  margin-bottom: 20px;
}
