<h1>This is it</h1>


<div class="row text-center">

    <div *ngFor="let member of members" [id]="'member-'+member?.id">
    <a  [routerLink]= "['//GetUserAsAdmin/', member.id]"  routerLinkActive="active">

      <div class="card ">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">{{member.firstName}} {{member.lastName}}</h4>
          <p class="card-text">{{member.email}}</p>
        </div>
<!--        <div class="card-footer">-->
<!--          <a href="#" class="btn btn-primary">-->
<!--        </div>-->
      </div>

      </a>

</div>
  </div>

