
  <!-- Navigation -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" [routerLink]= "['']" routerLinkActive="active" [routerLinkActiveOptions] = "{exact: true}">Post Thrift</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item" *ngIf="user!= null">
              <a class="nav-link" [routerLink]= "['GetUserProfile',user.username]" [id]="checkUserUsername()" routerLinkActive="active"  >Profile</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" [routerLink]= "['']" routerLinkActive="active" [routerLinkActiveOptions] = "{exact: true}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>

<!--          <li class="nav-item active" *ngIf="user!= null">-->
<!--            <a class="nav-link" [routerLink]= "['MessageTheUser']" routerLinkActive="active">Message-->
<!--              <span class="sr-only">(current)</span>-->
<!--            </a>-->
<!--          </li>-->

<!--          <li *ngIf="checkRole('ADMIN')" class="nav-item">-->
<!--            <a class="nav-link" [routerLink]= "['GetAllMembers']" routerLinkActive="active"> Get all members-->
<!--              <span class="sr-only">(current)</span>-->
<!--            </a>-->
<!--          </li>-->
          <li *ngIf="checkRole('ADMIN')" class="nav-item">
            <a class="nav-link" [routerLink]= "['GetAdminPanel']" routerLinkActive="active"> Admin
              <span class="sr-only">(current)</span>
            </a>
          </li>


          <li class="nav-item" *ngIf="this.user != null || this.user != undefined">
            <a class="nav-link" [routerLink]= "['CreateProduct']" routerLinkActive="active">Advertise</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]= "['GetAllProducts']" routerLinkActive="active"> Listings </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"[routerLink]= "['GetContactInfo']" routerLinkActive="active">Contact</a>
          </li>
          <li *ngIf="user===null" class="nav-item">
            <a class="nav-link" [routerLink]= "['LogInComponent']" routerLinkActive="active">Log In</a>
          </li>
          <li class="nav-item" *ngIf="user">
            <a class="nav-link" (click)="logOut()" >LogOut</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


