/* You can add global styles to this file, and also import other style files */
/* body {
    padding-top: 56px;
} */


/*body{*/
/*  margin: 20%;*/
/*}*/

 /*Color pallets hexes*/

/*#1D1D35*/
/*#EDFEF0*/
/*#6F9B7A*/
/*#5DBE7C*/
/*#DEB887*/

.form-control.ng-touched.ng-invalid{
  border: 2px solid crimson;
  box-shadow: 0 1px 6px 0 #f73434;
}

body{
  /*background-color: #f1faee !important;*/
  /* background-image: linear-gradient(to bottom, #f1faee, #f1fae4);*/
  /*background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/53/55/87586204c183aa6.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/

}
.card{
  background-color: #FDFAD9 !important;
}
.box{
  margin: 3%;

  /*border: 2px solid crimson;*/
}


/*.container{*/
/*  background-color: #EAAC8B !important;*/
/*}*/

