.User-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.user-card{
  width: 300px;

}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.profile-card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-body{
  width: 100%;
}


@media only screen and (min-width: 1000px){
  .User-container{
    gap: 0px;
  }
}

