<div class="User-container" *ngIf="member">

<!--  <div class="user-card-container">-->
<!--    <div class="user-card-top">-->
<!--    <img class = "profile-image" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-512.png">-->
<!--    <h3> {{member.firstName}} , {{member.lastName}}</h3>-->
<!--      <p> {{member.email}}</p>-->
<!--      <p> {{member.country}}</p>-->
<!--      <p> {{member.city}} </p>-->
<!--      <p> {{member.lastLoginDate}}</p>-->
<!--    </div>-->
<!--    <div class="user-card-middle">-->
<!--      <a> Edit profile </a>-->
<!--    </div>-->

<!--    </div>-->
<!-- Avatar box thingie-->
<!--  https://bootdey.com/img/Content/avatar/avatar7.png-->

    <div class="user-card">
      <div class="card">
        <div class="profile-card-body card-body">
            <img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678130-profile-alt-4-512.png" alt="Admin" class="rounded-circle" width="150">
            <div class="mt-3">
              <h2>{{this.userRole}}</h2>
              <h4>{{member.firstName}} , {{member.lastName}}</h4>
              <p class="text-secondary mb-1">Seller rating</p>
              <p class="text-muted font-size-sm">{{member.city}}, {{member.country}}</p>
              <p class="text-muted font-size-sm">Last login : {{member.lastLoginDateDisplay}}</p>

              <button class="btn btn-primary">Edit info</button>
              <button class="btn btn-outline-primary">Message</button>
            </div>
        </div>
      </div>
    </div>


  <form #updateForm="ngForm" (ngSubmit)="onSubmit(updateForm)">
  <div class="col-md-8">
    <div class="card mb-3">
      <div class="card-body details-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">First name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{member.firstName}}
            <input id="firstName" type="text" style=" margin-left: 25% ">


          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Last Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">

            {{member.lastName}}
            <input id="lastName" type="text" style=" margin-left: 25%">

          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Username</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{member.username}}
            <input id="username" type="text" style=" margin-left: 25% ">


          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">First name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{member.password}}
            <input id="password" type="text" style=" margin-left: 25% ">


          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Email</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{member.email}}
            <input id="email" type="text" style=" margin-left: 25%">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Country</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{member.country}}
            <input id="country" type="text" style=" margin-left: 25%">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">City</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{member.city}}
            <input id="city" type="text" style=" margin-left: 25%">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Date of birth</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{member.DOB}}
            <input id="DateOfBirth" type="date" style=" margin-left: 25%">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <a class="btn btn-info" (click)="showInputOnEdit()" style="" routerLink="">Edit</a>

          </div>

        </div>
      </div>
    </div>
</div>
  </form>
  <div class="user-content-container-top">
    <h1>Listed products</h1>
  <app-user-profile-listings></app-user-profile-listings>


  </div>
</div>

