<div class="container">
  <h1>Do you want to sell your unused items ?</h1> <br>
  <div class = "list-group-horizontal">
    <form #addForm ="ngForm" (ngSubmit)="onSubmit(addForm)">
      <div class="form-group">
        <label class="card-title" for="name" >Product title</label> <br>
        <!-- Would be better to use this for registration validation -->
        <input #name = "ngModel" id = "name" name = "name" minlength="2" maxlength="100" type="text" placeholder="Name" required class="form-control" ngModel>


         <div *ngIf = "name.touched && name.invalid" class="alert alert-danger">
           <p *ngIf = "name.errors.required"> This field can't be empty</p>
           <p *ngIf = "name.errors.minlength"> The input is too short</p>
         </div>
      </div>
      <pre></pre>

      <div class="form-group">
        <label class="card-title" for="price" >Price</label> <br>
        <input #price = "ngModel" id = "price" required maxlength="12" type="text" name = "price" class="form-control" ngModel>
        <div *ngIf = "price.touched && price.invalid" class="alert alert-danger">
          <p *ngIf = "price.errors.required"> Insert the price</p>
        </div>
      </div>
      <pre></pre>

      <div class="form-group">
        <label class="card-title" for="description" >Description</label> <br>
        <textarea #description = "ngModel" rows="5" id="description" required minlength="2" maxlength="200" type="text" name = "description" class="form-control" ngModel></textArea>
        <div *ngIf = "description.touched && description.invalid" class="alert alert-danger">
          <p *ngIf = "description.errors.required"> Add more info</p>
          <p *ngIf = "description.errors.maxlength">That's a long description</p>
          <p *ngIf = "description.errors.minlength">That's a short description,the minimum lenght is {{description.errors.minlength.requiredLength}}</p>
        </div>
      </div>
      <pre></pre>
      <div class="form-group">
      <label class="card-title" for="city" >City</label> <br>
      <input #city = "ngModel" id="city" required minlength="2" maxlength="12" type="text" name = "city" class="form-control" ngModel>
      <div *ngIf = "city.touched && city.invalid" class="alert alert-danger">
        <p *ngIf = "city.errors.required"> The field is empty</p>

      </div>
    </div>
    <pre></pre>
      <div class="form-group">
        <label class="card-title" for="category" >Category</label> <br>
        <select  (change)="onCategorySelect(category.value)" #category = "ngModel" id="category" name = "category" class="form-control" ngModel required>
          <option *ngFor="let category of categoryList" value="{{category}}" >{{category}}</option>
        </select>
      </div>
      <pre></pre>

      <button class="btn btn-primary" id="submit" type="submit" [disabled]="addForm.invalid || categoryList.length === 0">Submit</button>
    </form>

  </div>
</div>
