<!--working connection-->
<!--<div style="position: absolute; background: white; left:  20%; top: 20%; overflow: hidden; transform: translateX(-30%) translateY(80%); " >-->
<!--  <div style="text-align:center; margin-top: 150px;">-->

<!--    <h1 style="font-size: 4em;">-->
<!--      Notifications :-->
<!--    </h1>-->

<!--    <span class="chat-notification"-->
<!--          *ngFor="let notification of notifications">{{ notification.text }}-->
<!--  </span>-->


<!--  </div>-->

<!--&lt;!&ndash;  <div>&ndash;&gt;-->
<!--&lt;!&ndash;    <button type="button" (click)="connectClicked()">Connect</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button type="button" (click)="disconnectClicked()">Disconnect</button>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->

<!--Side connections list-->
<div class="messaging">
  <div class="inbox_msg">
    <div class="inbox_people">
      <div class="headind_srch">
        <div class="recent_heading">
          <h4>Recent</h4>
        </div>
        <div class="srch_bar">
          <div class="stylish-input-group">
            <input type="text" class="search-bar"  placeholder="Search" >
            <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
        </div>
      </div>
      <div class="inbox_chat">
        <div class="chat_list">
          <div class="chat_people"
               *ngFor="let member of members"
               (click)="handleAdvertSelect(member)"
               [class.active]="checkIfAdvertIsSelected(member.username)">
            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            <div class="chat_ib">
              <h5>{{member.firstName +' '+ member.lastName}} <span class="chat_date"></span></h5>
              <p>{{member.username}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
<!--Chat window-->
<div class="chat_window">
  <div class="top_menu">
    <div class="buttons">
<!--      <div style="text-align: center"> discussed product </div>-->
<!--      <div class="button close">-->

<!--      </div>-->
<!--      <div class="button minimize">-->

<!--    </div>-->
<!--      <div class="button maximize">-->

<!--      </div>-->
    </div>
    <div class="title">Chat</div>
  </div>
  <ul class="messages" id="chat-box">
    <div *ngFor="let message of messages"
         [class.incoming_msg]="message.senderName !== loggedInUsername"
         [class.outgoing_msg]="message.senderName === loggedInUsername">
      <div [class.received_msg]="message.senderName !== loggedInUsername">
        <div [class.received_withd_msg]="message.senderName !== loggedInUsername"
             [class.sent_msg]="message.senderName === loggedInUsername">
          <p>{{message.senderName}}: {{message.content}}</p>
          <span class="time_date"> {{message.messageTimeStamp | date:'MMM d, y, h:mm a'}}</span></div>
      </div>
    </div>
<!--    <div class="incoming_msg">-->
<!--      <div class="received_msg">-->
<!--        <div class="received_withd_msg">-->
<!--          <p>Test, which is a new approach to have</p>-->
<!--          <span class="time_date"> 11:01 AM    |    Yesterday</span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="outgoing_msg">-->
<!--      <div class="sent_msg">-->
<!--        <p>Apollo University, Delhi, India Test</p>-->
<!--        <span class="time_date"> 11:01 AM    |    Today</span>-->
<!--      </div>-->
<!--    </div>-->
<!--    -->
<!--    <p *ngFor="let message of messages">-->
<!--    {{message.senderName}}: {{message.content}}-->
<!--    </p>-->
<!--  <p id="response">-->


<!--  </p>-->

</ul>
  <form id="conversationDiv" [formGroup]="chatForm" (ngSubmit)="sendChatMessage()">
  <div class="bottom_wrapper clearfix">
    <div class="message_input_wrapper">
      <input class="message_input" type="text" id="text" placeholder="Type your message here..." formControlName="inputBox"/>
    </div>
    <div class="send_message">
    <div class="icon">

    </div>
    <button class="text" id="sendMessage" type="submit">Send</button>
    </div>
  </div>
  </form>
</div>

<div class="message_template">
  <li class="message">
    <div class="avatar"></div>
    <div class="text_wrapper">
      <div class="text">

      </div>
    </div>
  </li></div>

<!--<div>-->
<!--  <button type="button" (click)="startClicked()">Start listening</button>-->
<!--  <button type="button" (click)="stopClicked()">Stop listening</button>-->
<!--</div>-->

<!--<div>-->
<!--  <span *ngFor="let notification of notifications">{{notification}} </span>-->
<!--</div>-->
