 <!-- Page Content -->
 <div class="container mt-20">

    <!-- Jumbotron Header -->
   <div class="background-box">

    <div class="jumbotron my-3">

      <h1 class="display-3">Welcome to PostThrift!</h1>
      <p class="lead">Hope you can find something that peaks your interest</p>
      <a [routerLink]= "['GetAllProducts']" routerLinkActive="active" class="btn btn-primary btn-lg">Check the listings</a>
    </div>


   </div>

 </div>

 <div class="container">
 <div class="wrapper">
   <div class="scrolls">

     <div class = "category-thing">
       <i class="fab fa-accessible-icon"></i>
     </div>

     <div class = "category-thing">
       <i class="fab fa-accessible-icon"></i>
     </div>
   </div>

   </div>
 </div>
<!-- <iframe id="iframe1" src="http://jqfaq.com/AdPage.html" style="width:100%; height:115px; border:none;">-->
<!--   space-->
<!-- </iframe>-->






