.container{
    margin-top: 5%;
  height: 100%;



}
.jumbotron{
background-color: transparent;


}
p {
font-weight: 500;
}
div.background-box{
  opacity: 0.8;
}
div.jumbotron{
  font-weight: bold;
  color: #000000;
}
.background-box{
  /*width: auto;*/
  /*height: auto;*/

  background-image: linear-gradient(to bottom , rgba(255,255,0,0.5), rgba(0,0,255,0.5)), url("../ImportedImages/RegistrationBackground.jpg");
  background-size: cover;

  border-radius: 20%;
  box-shadow: 0 0 8px 8px white inset;
  color: #1D1D35;
  font-weight: bold;

}

.wrapper {
  background:#EFEFEF;
  box-shadow: 1px 1px 10px #999;
  margin: auto;
  text-align: center;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px !important;

  padding-top: 5px;
}
.scrolls {
  overflow-x: scroll;
  overflow-y: hidden;
  /*height: 80px;*/
  /*white-space:nowrap*/
}

/*.wrapper img{*/
/*  gap: 10px;*/
/*}*/

.category-thing{
  width: 260px;
  height: 260px;
  display: inline;
  gap: 5px;
}
/*#div{*/
/*  display:block;*/
/*}*/
