<app-search-box> </app-search-box>
<div class="border-dark component-holder">
<div class=" row" style="margin: 5px">

<!--  card deck class addition// justify-content-center -->
    <div class="card-deck align-items-center">
        <div *ngFor="let product of products" [id]="'product-'+product.id" style="width: 100%" >
      <div class="card">
        <a  [routerLink]= "['//GetProductDisplay/', product?.id]" routerLinkActive="active">
        <img class="card-img-left" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">{{product?.name}} </h4>
          <p class="card-text card-price">{{product?.price}}$</p>
          <p class="card-text">{{product?.category}}</p>
        </div>
        </a>
      </div>
    </div>
</div>
  </div>
</div>
