.card-deck{

    display: grid;
  grid-template-columns: repeat(3, 1fr);

    /*flex-direction: row;*/
    /*margin-bottom: 10px;*/
    /*margin-top: 10px;*/
    /*margin-left: 30px;*/
    /*gap: 15px;*/
}
.card-img-left{
  float: left;
  text-align: left;
  align-self: flex-start;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  width: 100%;
}
.card{
  margin: 10px;
  /*display: grid;*/
  /*grid-template-columns: repeat(3, 2fr);*/
  /*height: 300px;*/
  /*width: 5rem;*/
}

.box{
    margin: 50px;

}
.border-dark{
 /* border: solid black 2px;
  margin: auto;*/
}
a{
  text-decoration: none;
  color: black !important;
}
a:hover{
  color: #1D1D35 !important;
}
.border-dark{
  margin-top: 10px;
}


.card-price{
  font-family: fantasy ;
}

@media only screen and (max-width: 600px) {
  .card-deck{
    grid-template-columns: repeat(1, 1fr);

  }
}

