<app-component-nav-bar> </app-component-nav-bar>
<div class="container">
  <div class="box">

<router-outlet></router-outlet>

<!-- <app-component-header></app-component-header> -->

<!-- <app-component-page-features></app-component-page-features> -->
</div>
</div>
<app-component-footer> </app-component-footer>


<!-- <h1> Is t his working correctly</h1>
<app-textcomponent> </app-textcomponent>
<app-log-in-test> </app-log-in-test>
<h1>App service</h1>
<app-user-info> </app-user-info> -->

<!--

<a [routerLink]= "['GetAllMembers']"> memers </a>
<button (click)="onButtonClick()"> Press me</button>

<button (click)="getAllProducts()">Get all products</button> -->



<!-- <h1>This is it</h1>
<div class="row text-center">

    <div *ngFor="let member of members">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">{{member.name}} {{member.lastName}}</h4>
          <p class="card-text">{{member.email}}</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
</div>
  </div> -->
